body{
  height:100vh;
}
.header{
  background-color:yellow;
  height:2.5rem;
  color:green;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:sans-serif;
  font-size:2rem;
}
.heroes img{
  width:100%;
}
footer{
  background-color:skyblue;

}
button{
  width:150px;
  height:30px;
  background-color:orange;
  border:none;
}

.card img{
  width:150px;
  height:300px;
}
button.active{
  background-color:green
}
